<div class="jumbotron">
    <h1 class="text-center">Bem vindo ao IFSP</h1>
</div>
<button class="btn btn-primary" ng-click="incrementa()">Novo</button>
<p>Contatos cadastrados: {{total}}</p>
<div class="table-responsive">
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th class="text-center">Ação</th>
        </tr>
        <tr>
            <td><a>Fabio</a></td>
            <td>Fabio Texeira</td>
            <td>fabio@lalala.com.br</td>
            <td class="text-center">
                <button class="btn btn-warning">Remover</button>
            </td>
        </tr>
    </table>
</div>
